<% content_for :body do %>
  <div id="login" class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title mb-0"><%= t("goodmin.title") %></h3>
          </div>
          <div class="card-body">
            <%= render "layouts/goodmin/content" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "layouts/goodmin/layout" %>
