<% if authentication_enabled? &&
      admin_user.singleton_class.include?(Goodmin::Authentication::User) &&
      admin_user_signed_in? %>
  <li class="nav-item">
    <%= link_to translate_scoped("sessions.sign_out"), session_path, class: "nav-link", data: { turbo_method: :delete } %>
  </li>
<% end %>
