<div class="mb-3">
  <%= f.label field.attribute %>
  <%= f.datetime_local_field field.attribute, class: "form-control" %>
  <%= content_tag(:p, field.hint, class: "form-text") if field.hint.present? %>
</div>
