<div class="mb-3">
  <%= f.label field.attribute %>
  <%= f.select field.attribute, field.collection, field.select_options, field.select_html_options %>
  <%= content_tag(:p, field.hint, class: "form-text") if field.hint.present? %>
</div>
