<div id="actions" class="d-flex justify-content-between align-items-center">
  <div>
    <%= render partial: "batch_actions" %>
  </div>
  <div class="d-flex gap-2">
    <%= render partial: "button_actions" %>
    <%= render partial: "export_actions" %>
  </div>
</div>
