<div id="table" class="table-responsive">
  <table class="table table-bordered table-hover">
    <caption class="visually-hidden">
      <%= @resource_class.model_name.human(count: 2) %>
    </caption>
    <thead>
      <tr>
        <% if @resource_service.include_batch_actions? %>
          <th></th>
        <% end %>
        <% @resource_service.attrs_for_index.each do |attribute| %>
          <th class="column-<%= attribute.name %>">
            <%= column_header attribute %>
          </th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @resources.each do |resource| %>
        <%= render partial: "row", locals: { resource: resource } %>
      <% end %>
    </tbody>
  </table>
</div>
