body {
  margin-bottom: 20px;
}

#login {
  margin-top: 20px;
}

#breadcrumb .dropdown:before {
  content: " ";
}

#scopes {
  margin-bottom: 20px;
}

#filters .filter .control-label {
  display: block;
}

#filters .filter .form-control {
  min-width: 170px;
}

#filters .filter .form-control.selectize-control {
  height: 34px;
}

#filters .filter .form-control.selectize-control.single .item {
  padding-right: 25px;
}

#actions {
  margin-bottom: 20px;
}

#actions::after {
  display: block;
  content: "";
  clear: both;
}

#table td {
  vertical-align: middle;
}

#table td .btn-group {
  display: flex;
}

.pagination {
  margin: 0 0 10px 0;
}

.pagination-entries {
  line-height: 35px;
}

.highlight {
  -moz-animation: highlight 3s;
  -webkit-animation: highlight 3s;
  animation: highlight 3s;
}

@-moz-keyframes highlight { from { background: #fffbcc; } to { background: none; } }
@-webkit-keyframes highlight { from { background: #fffbcc; } to { background: none; } }
