<% value = field.value.try(:strftime, translate_scoped("datetimepickers.datetimepicker")) %>
<div class="form-group">
  <%= f.label field.attribute %>
  <%= f.text_field field.attribute, class: "form-control", value: value, data: { behavior: "datetimepicker" } %>
  <%= content_tag(:p, field.hint, class: "help-block") if field.hint.present? %>
</div>
