<div class="form-group">
  <%= f.label field.attribute %>
  <%= f.text_field field.attribute, class: "form-control" %>
  <%= content_tag(:p, field.hint, class: "help-block") if field.hint.present? %>
</div>
