<div class="mb-3">
  <%= f.label field.attribute, class: "form-label" %>
  <%= f.date_field field.attribute, class: "form-control" %>
  <%= content_tag(:p, field.hint, class: "form-text") if field.hint.present? %>
</div>
